<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Account Details</h1>
  <h3>Account details for GET actions</h3>
</header>
<body>
  <table>
    <tr>
      <td>CreatedAt</td>
      <td>:</td>
      <td>{{userData.CreatedAt}}</td>
    </tr>
    <tr>
      <td>Email Address Address</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.Address}}</td>
    </tr>
    <tr>
      <td>Email Address EmailAddressID</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.EmailAddressID}}</td>
    </tr>
    <tr>
      <td>Email Address IsConfirmed</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.IsConfirmed}}</td>
    </tr>
    <tr>
      <td>Email Address IsPrimary</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.IsPrimary}}</td>
    </tr>
    <tr>
      <td>Email Address LinkedEntityID</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.LinkedEntityID}}</td>
    </tr>
    <tr>
      <td>Email Address Status</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.Status}}</td>
    </tr>
    <tr>
      <td>Email Address Type</td>
      <td>:</td>
      <td>{{userData?.EmailAddress?.Type}}</td>
    </tr>
    <tr>
      <td>FamilyName</td>
      <td>:</td>
      <td>{{userData.FamilyName}}</td>
    </tr>
    <tr>
      <td>FullName</td>
      <td>:</td>
      <td>{{userData.FullName}}</td>
    </tr>
    <tr>
      <td>GivenName</td>
      <td>:</td>
      <td>{{userData.GivenName}}</td>
    </tr>
    <tr>
      <td>IetfLanguageTag</td>
      <td>:</td>
      <td>{{userData.IetfLanguageTag}}</td>
    </tr>
    <tr>
      <td>Insertion</td>
      <td>:</td>
      <td>{{userData.Insertion}}</td>
    </tr>
    <tr>
      <td>LinkedEntityID</td>
      <td>:</td>
      <td>{{userData.LinkedEntityID}}</td>
    </tr>
    <tr>
      <td>LinkedEntityName</td>
      <td>:</td>
      <td>{{userData.LinkedEntityName}}</td>
    </tr>
    <tr>
      <td>ModifiedAt</td>
      <td>:</td>
      <td>{{userData.ModifiedAt}}</td>
    </tr>
    <tr>
      <td>ModifiedBy</td>
      <td>:</td>
      <td>{{userData.ModifiedBy}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress Address</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.Address}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress EmailAddressID</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.EmailAddressID}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress IsConfirmed</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.IsConfirmed}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress IsPrimary</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.IsPrimary}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress LinkedEntityID</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.LinkedEntityID}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress Status</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.Status}}</td>
    </tr>
    <tr>
      <td>Operator EmailAddress Type</td>
      <td>:</td>
      <td>{{userData?.Operator?.EmailAddress?.Type}}</td>
    </tr>
    <tr>
      <td>Operator Name</td>
      <td>:</td>
      <td>{{userData?.Operator?.Name}}</td>
    </tr>
    <tr>
      <td>Operator OperatorID</td>
      <td>:</td>
      <td>{{userData?.Operator?.OperatorID}}</td>
    </tr>
    <tr>
      <td>Operator Status</td>
      <td>:</td>
      <td>{{userData?.Operator?.Status}}</td>
    </tr>
    <tr>
      <td>Roles</td>
      <td>:</td>
      <td *ngIf="userData && userData.Roles">{{userData?.Roles[0]}}</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>:</td>
      <td>{{userData.Type}}</td>
    </tr>
    <tr>
      <td>UserID</td>
      <td>:</td>
      <td>{{userData.UserID}}</td>
    </tr>
  </table>
  <router-outlet></router-outlet>
</body>
